<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <win-meter :amount="currentWins"></win-meter>
    <rock-paper-scissors v-on:win="win" v-on:lose="lose"></rock-paper-scissors>
</div>
<script type="text/x-template" id="rps-template">

    <div>
        <div>
            You chose {{ userMove}} : computer chose {{ computerMove }}
        </div>
        <div>
            You {{ outcome }}
        </div>

        <button v-on:click="choose('rock')">rock</button>
        <button v-on:click="choose('paper')">paper</button>
        <button v-on:click="choose('scissors')">scissors</button>
    </div>
</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>